### general folders
node_modules/
bower_components/
.DS_Store
.idea
.idea/vcs.xml
frontend/.idea/app/
### frontend folder

### frontend files

### backend folder

### backend files
backend/config.js

